   package jupyter 1.0.0, installed using Python 3.12.1+
    - ipython
    - ipython3
    - jlpm
    - jsonpointer
    - jsonschema
    - jupyter
    - jupyter-console
    - jupyter-dejavu
    - jupyter-events
    - jupyter-execute
    - jupyter-kernel
    - jupyter-kernelspec
    - jupyter-lab
    - jupyter-labextension
    - jupyter-labhub
    - jupyter-migrate
    - jupyter-nbconvert
    - jupyter-notebook
    - jupyter-qtconsole
    - jupyter-run
    - jupyter-server
    - jupyter-troubleshoot
    - jupyter-trust
    - normalizer
    - pybabel
    - pygmentize
    - pyjson5
    - qtpy
    - send2trash
    - wsdump
    - man1/ipython.1
    - matplotlib 3.8.2
    - fonttools
    - pyftmerge
    - pyftsubset
    - ttx
     -numpy 1.26.3
    - f2py
    - poetry

